{% include '_partials/_head.twig' %}

<body class="ltr">
	{% include '_partials/_header.twig' %}
<main class="mx-auto md:max-w-5xl lg:max-w-7xl">
	<section class="py-10 mx-auto  grid md:grid-cols-2">
		<div class=" px-4 ">
			
			<h1 class="mt-4">Contact Landis</h1>



	


			{{ entry.textMarkdown }}
	


		<style>
    .required::after {
        content: "*";
        color: #d00;
        margin-left: 5px;
    }
</style>

{{ freeform.form("siteContact").render() }}


		</div>
			<article class="px-4">
			<h1>Visit Landis</h1>
            <div class="grid grid-cols-2">
            <div>
            <strong>Mailing Address:</strong><br>

            The Landis Arboretum<br>
            PO Box 186<br>
            Esperance, NY 12066<br>
            </div>
            <div>
            <strong>Email:</strong><br>
            
            <a href="mailto:info@landisarboretum" class="text-blue-500">info@landisarboretum.org</a><br>
            
            
            <strong>Phone:</strong><br>
            <a href="tel:5188756935" class="text-blue-500">518.875.6935</a>
            </div>
            </div>



			<div class="aspect-w-1 aspect-h-1 w-full my-4">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d108234.6969020929!2d-74.23463617655747!3d42.798198685381124!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de86d74e56a575%3A0xac42bc5610e31de6!2s174%20Lape%20Rd%2C%20Esperance%2C%20NY%2012066!5e0!3m2!1sen!2sus!4v1632142178261!5m2!1sen!2sus"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
			<p class="text-lg">The Arboretum is open daily, dawn to dusk for hiking, walking, cross country skiing and biking; no motorized vehicles are allowed on the Arboretum grounds to protect the plants. Parking is free.</p>
            <p class="text-lg">Please take a moment and review our <a href="/visit" class="text-blue-500 hover:underline">visitor guidelines</a>.</p>
			<p class="text-base">Suggested donation for non-member visitors: $5/per person, $15/family.</p>
		</article>
		
		</section>
		</main>

	{% include '_partials/_footer.twig' %}
</body></html>
