<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Landis Arboretum|{{ entry.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="stylesheet" href="/css/styles.css">  
             <link
        type="text/css"
        rel="stylesheet"
        href="/js/lightgallery/css/lightgallery.css"
        />
     

        		  
			    <link type="text/css" rel="stylesheet" href="/js/lightgallery/css/lg-fullscreen.css" />
				 <link type="text/css" rel="stylesheet" href="/js/lightgallery/css/lg-thumbnail.css" />

</head>

<body class="ltr">
	{% include '_partials/_header.twig' %}

 
<div>
    <h1  class="pb-10 pt-10 md text-4xl md:text-5xl text-center mt-0">Photo Gallery</h1>
	</div>

	<section class="px-4 mx-auto max-w-6xl lg:max-w-7xl"> 

		<article class=" mx-auto">

	
			{{ entry.textMarkdown | markdown }}
		</article>



</section>

	<section class="w-full px-4 py-20">
		<div class="max-w-6xl  lg:max-w-7xl mx-auto grid grid-cols-2 sm:grid-cols-3 gap-4 md:gap-6 xl:gap-8" id="lightgallery">

				{% for myAsset in entry.pageImages.all() %}
                  <a  href="{{ myAsset.url }}" class=" bg-gray-100 overflow-hidden rounded-lg shadow-lg " data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
					<img src="{{ myAsset.url('square500') }}" class="w-full h-full object-cover object-center  inset-0 transform group-hover:scale-110 transition duration-200">
                          
                            </a>
				{% endfor %}

			</div>
		</section>

        
{# PurgeCSS: text-base #}

	{% include '_partials/_footer.twig' %}
    				<script src="/js/lightgallery/lightgallery.min.js"></script>
                				<script src="/js/lightgallery/plugins/zoom/lg-zoom.umd.js"></script>
								
									<script src="/js/lightgallery/plugins/fullscreen/lg-fullscreen.umd.js"></script>
									<script src="/js/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js"></script>

        			<script type="text/javascript">
			lightGallery(document.getElementById("lightgallery"), {
  speed: 500,
  plugins: [lgZoom,lgFullscreen,lgThumbnail],
  showZoomInOutIcons: true,
  actualSize: true,
  zoom: true,
  thumbMargin: 20,
  thumbHeight: 120,
  thumbWidth: 120,
  download: true,
  actualSizeIcons: { zoomIn: 'lg-actual-size', zoomOut: 'lg-zoom-out' }
});

  

			</script>
</main>

</body>
</html>
